:root {
  --dark-color: #19283f;
  --green-color: #33d1cc;
  --button-background: #ff3150;
  --section-color: #eff7fa;
}
body {
  font-family: "Roboto", sans-serif;
}
.main-title h2 {
  color: var(--dark-color);
}
.main-title p {
  font-size: 0.8rem;
}
.main-title::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--green-color);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}
/* Start Nav */
nav.navbar {
  background-color: var(--dark-color);
}
form#search-id.collapsing,
form#search-id.show {
  display: flex;
  flex: 1;
  flex-basis: 100%;
}
form#search-id button {
  color: var(--green-color);
  border-color: var(--green-color);
}
.menu-bar[aria-expanded="true"] {
  border-color: var(--green-color) !important;
}
.navbar-nav .nav-link {
  color: white;
  transition: 0.3s;
}
.navbar-nav .nav-link.active {
  color: var(--green-color);
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:active {
  color: var(--green-color);
}
.search-icon {
  color: var(--green-color);
}
.search-toggler {
  position: relative;
}
.search-toggler::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 1px;
  height: 55%;
  background-color: var(--green-color);
}
@media (max-width: 768px) {
  .search-toggler::before {
    display: none;
  }
}
button.login {
  background-color: var(--button-background);
}
button.login:hover,
button.login:focus {
  background-color: var(--button-background);
}

/* End Nav */
/* Start Home */
.home {
  background-color: var(--dark-color);
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
}
.home .content button {
  background-color: var(--button-background);
}
/* End Home */
/* Start Services */
.feat .icons-holder {
  height: 200px;
}
.feat .icons-holder svg {
  transform: translateX(-50%);
}
.feat .icons-holder .number {
  height: 100%;
  color: var(--section-color);
}
.feat .icons-holder .main-icon {
  color: var(--green-color);
  font-size: 3.3rem;
}
/* End Services */
/* Start Portfolio */
.portfolio {
  background-color: var(--section-color);
}
.my-modal {
  background-color: #0000009b;
  z-index: 2000;
}
.my-modal .project {
  transform: translateY(-50%);
}
.my-modal .project .image {
  max-width: 900px;
}
.my-modal .project .image .dismiss {
  width: 30px;
  height: 30px;
  right: 5px;
  border: none;
  transform: translate(50%, -50%);
  background-color: var(--button-background);
}
.filters li button {
  border: none;
  transition: 0.3s;
}
.filters li button.active,
.filters li button.active:active {
  background-color: var(--button-background);
  color: rgba(var(--bs-warning-rgb), var(--bs-text-opacity)) !important;
}
.filters li button:not(.active):hover {
  color: var(--button-background) !important;
}
.projects .box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}
.projects .box::before {
  content: "Application";
  width: 100%;
  height: 100%;
  background-color: #33d1ccaf;
  color: white;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 100%;
}
.projects .box:hover::before {
  right: 0;
}
#portfolio .see-more {
  background-color: var(--button-background);
  border: none;
}
/* End Portfolio */
/* Start About */
.about .description {
  max-width: 500px;
}
.design-example .design-desc h3 {
  color: var(--dark-color);
}
.design-example .design-desc button,
.design-example .design-desc button:active {
  background-color: var(--button-background);
}
.design-example .design-image {
  min-width: 50%;
}
/* End About */
